*.sql
jjsx/
protected/config/test/
protected/config/stage/
protected/runtime/
themes/
/index.php
._pic_script
pic_script/
weixin_up.log
framework/
.idea
.project
.settings/
nbproject/
protected/config/main11.php
node_modules
CHANGELOG.md
.buildpath
.DS_Store
npm-debug.log
public/assets/build/
public/dist/
app/mock/
.vscode/
config.json
vendor/
protected/modules/mapp/views/layouts/*_layout.php
protected/views/layouts/weixin_layout.php
app/compilation-stats.json
app/service-line-config.json
weixin.zip

